* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  width: 100%;
  height: 100vh;
  background-color: #86a5f7;
  font-family: sans-serif;
}

textarea:focus {
  outline: none;
  border: dotted #666 3.5px;
  /* outline: none; */
}
main {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
}
h2 {
  font-size: 1.8rem;
  color: #444;
  margin-top: 1.2rem;
}
#text--area {
  outline-width: 3.5px;
  outline-color: #f7f7f7;
  /* border-width: 1px; */
  width: 100%;
  font-size: 1.2rem;
  border-radius: 9px;
}

.btn {
  width: 100%;
  outline: none;
  border: none;
  /* border: 2px solid #f7f7f7; */
  background-color: #6589e4;
  color: #f7f7f7c5;
  border: 2px solid #f7f7f7;
  font-size: 1.4rem;
  padding: 0.8rem 0;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.btn:active {
  border: 2px solid black;
  color: #6589e4;
  background-color: #f7f7f7;
  outline: none;
  /* background-color: rgba(134, 164, 247, 0.95); */
  /* color: #f7f7f7; */
}
